body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}
.navbar {
    background-color: #004a63;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.navbar-brand, .nav-link {
    color: #fff !important;
    font-weight: bold;
    transition: color 0.3s;
}
.navbar-nav .nav-link:hover {
    color: #00d1c1 !important;
}
.search-bar {
    position: relative;
}
.search-input {
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    margin-right: 10px;
}
.search-icon {
    color: white;
    cursor: pointer;
}

.hero-section {
    background: linear-gradient(135deg, #004a63, #00d1c1);
    color: white;
    text-align: center;
    padding: 80px 20px;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
}
.hero-section h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}
.hero-section p {
    font-size: 1.2rem;
    margin-bottom: 40px;
}

.v{
    color: #fff;
}

.content-section {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}
.content-box {
    background-color: #ffffff;
    color: #004a63;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s;
}
.content-box:hover {
    transform: scale(1.05);
}

.footer {
    background-color: #004a63;
    color: white;
    text-align: center;
    padding: 15px 0;
}

@media (max-width: 992px) {
    .content-section {
        grid-template-columns: repeat(2, 1fr);
    }
    .hero-section h1 {
        font-size: 2.5rem;
    }
}
@media (max-width: 768px) {
    .content-section {
        grid-template-columns: 1fr;
    }
}
@media (max-width: 576px) {
    .hero-section h1 {
        font-size: 2rem;
    }
    .search-input {
        width: 80%;
    }
}


.social-icons .icon {
    font-size: 2rem;
    transition: transform 0.3s ease, color 0.3s ease;
    text-decoration: none;
}

.social-icons .icon:hover {
    transform: scale(1.2) rotate(10deg);
    color: #00d1c1; /* لون التأثير عند الوقوف */
}

.social-icons .icon:active {
    transform: scale(1.1) rotate(-10deg);
    color: #ff6347; /* لون مختلف عند النقر */
}